doctype html
html
  head
    title= Index
  body
    header
      h1 URL Shortener
    main
      h3 Escribe una URL luego de http://localhost:3000/acortar/ y obtiene una acortada.
      p Enter an URL after http://localhost:3000/acortar/ and get a shortened one.
      p Skribu retadreson poste http://localhost:3000/acortar/ kaj ricevu unu pli malgrandan.
      h4 Ejemplos de direcciones válidas (Examples of valid urls. Ekzemploj el tauxgaj retadresoj):
      p http://localhost:3000/acortar/
        b webaddresstoshorten.com
      p http://localhost:3000/acortar/
        b www.webaddresstoshorten.com
      p http://localhost:3000/acortar/
        b https://webaddresstoshorten.com
      p http://localhost:3000/acortar/
        b http://www.webaddresstoshorten.com
      p http://localhost:3000/acortar/
        b something.blablabla.info

      h3 Para utilizar la dirección acortada, por ejemplo, 15:
      p Pro uzi la novan etan retadreson:
      p To use the new shortened url:
      p http://localhost:3000/
        b 15
